/.classpath
/.project
/.settings
/bin
/pom.xml.versionsBackup
/target
cortex-ips/src/main/webapp/.#webh
cortex-ips/src/main/webapp/.#webclasspath
cortex-gateway-paypipe/pom.xml.versionsBackup
*.pmd
.checkstyle
*.orig
*.eclipse-pmd
*.iml
.idea/
logs/
coverage-error.log
out/
