<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
<div th:switch="${authors}">
    <h2 th:case="null">No authors found!</h2>
    <div th:case="*">
        <h2>Authors</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="authors : ${authors}">
                <td th:text="${authors.id}"></td>
                <td th:text="${authors.firstName}"></td>
                <td th:text="${authors.lastName}"></td>
                <td><a th:href="@{authors-update/{id}(id=${authors.id})}">Edit</a></td>
                <td><a th:href="@{authors-delete/{id}(id=${authors.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/author-create">Create author</a></p>
</div>
</body>
</html>