<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>BookCategory</title>
</head>
<body>
<div th:switch="${bookCategory}">
    <h2 th:case="null">No Book Category found!</h2>
    <div th:case="*">
        <h2>Book Category</h2>
        <div class="container">
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bookCategory : ${bookCategory}">
                    <td th:text="${bookCategory.id}"></td>
                    <td th:text="${bookCategory.bookCategory}"></td>
                    <td><a th:href="@{book-category-delete/{id}(id=${bookCategory.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p><a href="/book-category-create">Create Book Category</a></p>
    <p><a href="/">Back to home</a></p>
</div>
</body>
</html>